body {
    color: white;
    background-color: #5a644a;
/*max-width: 70%;*/
margin: auto;
font-size: 15px;
font-family: Arial;
}

.container {
background-color: darkseagreen;
color: darkblue;
}
.card-header {
background-color: navy;
color: blue;

}
.card-body {
background-color: #cbd3c8;
color: #030921;
}

.title {
    color: #a22da6;
    font-size: 40px;
    font-family: "Arial Black";
    margin:2px 20px;
}

.hidden {

    visibility: hidden;

}
.confirmation-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: red;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    z-index: 9999;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
