<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Issue edit</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
</head>
<body class="mt-3">

<div class="container">

    <div class="btn-group">

        <div class="title">
            Bugtracker
        </div>

        <div th:if="${#strings.contains(#authentication.getPrincipal().authorities, 'ROLE_MANAGE_PROJECT')}"
             class="col mt-3">
            <a th:href="@{'/issues'}" class="btn btn-dark">
                <h7 th:text="#{issues}"></h7>
            </a>
        </div>

        <div th:if="${#strings.contains(#authentication.getPrincipal().authorities, 'ROLE_MANAGE_PROJECT')}"
             class="col mt-3">
            <a th:href="@{'/projects'}" class="btn btn-primary">
                <h7 th:text="#{projects}"></h7>
            </a>
        </div>

        <div th:if="${#strings.contains(#authentication.getPrincipal().authorities, 'USER')}"
             class="col mt-3">
            <a th:href="@{'/people/'}" class="btn btn-primary">
                <h7 th:text="#{users}"></h7>
            </a>
        </div>

        <div class="col-6 mt-3">
            <a th:href="@{'/people/edit/self'}" class="btn btn-primary">
                <h7 th:text="#{my.account}"></h7>
            </a>
        </div>

        <div class="col-3 mt-3 text-end">
            <a th:text="#{logged.in.user} + ': ' +${#authentication.getPrincipal().username}"></a>
            <form th:action="@{/logout}" method="post" class="form-inline mt-3">
                <input type="submit" th:value="#{log.out}" class="btn btn-success"/>
            </form>
        </div>
    </div>

    <h2 th:if="${issue.id == null}" th:text="#{new.issue}">
    </h2>
    </h2>
    <h2 th:if="${issue.id != null}" th:text="#{edit.issue}">
    </h2>

    <form th:action="@{/issues/save}" th:object="${issue}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{dateCreated}">
        <input th:if="${issue.id != null}" type="hidden" th:field="*{project.id}">


        <div th:if="${issue.id == null}" class="mb-3">
            <label for="project" class="form-label">
                <h7 th:text="#{project}"></h7>
            </label>

            <select id="project"
                    class="form-control"
                    th:field="*{project}">

                <option th:each="project : ${projects}"
                        th:value="${project.id}"
                        th:text="${project.code}">


                </option>

            </select>
        </div>

        <div class="mb-3 row">
            <div class="col-4">
                <label for="issue-name" class="form-label">
                    <h7 th:text="#{issues.name}"></h7>
                </label>

            </div>

            <div class="col-8">
                <input type="text"
                       th:class="'form-control ' + ${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                       id="issue-name"
                       th:field="*{name}">
            </div>

            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label for="issue-code" class="form-label">
                <h7 th:text="#{issues.code}"></h7>
            </label>

            <input type="text"
                   th:class="'form-control ' + ${#fields.hasErrors('code') ? 'is-invalid' : ''}"
                   id="issue-code"
                   th:field="*{code}">

            <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label for="select1" class="form-label">
                <h7 th:text="#{issues.type}"></h7>
            </label>

            <select name="select1" id="select1" class="form-control" th:field="*{type}">

                <option th:each="issueType : ${T(com.example.wsbfinalproject2022.issues.IssueType).values()}"
                        th:value="${issueType}"
                        th:text="#{${issueType}}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="select2" class="form-label">
                <h7 th:text="#{issues.priority}"></h7>
            </label>

            <select name="select2" id="select2" class="form-control" th:field="*{priority}">

                <option th:each="priority : ${T(com.example.wsbfinalproject2022.issues.Priority).values()}"
                        th:value="${priority}"
                        th:text="#{${priority}}"></option>

            </select>
        </div>


        <label for="select3" class="form-label">
            <h7 th:text="#{issues.status}"></h7>
        </label>

        <select name="select3" id="select3" class="form-control" th:field="*{status}">

            <option th:each="status : ${T(com.example.wsbfinalproject2022.issues.Status).values()}"
                    th:value="${status}"
                    th:text="#{${status}}"></option>

        </select>





        <label for="issue-description" class="form-label">
            <h7 th:text="#{issues.description}"></h7>
        </label>

        <textarea class="form-control" id="issue-description" rows="5" th:field="*{description}"></textarea>






        <div class="mb-3">
            <label for="project" class="form-label">
                <h7 th:text="#{issues.assignee}"></h7>
            </label>

            <select id="assignee"
                    class="form-control"
                    th:field="*{assignee}">

                <option
                        th:value="null"

                        th:text="#{not.assigned}">

                <option th:each="person : ${person}"
                        th:value="${person.id}"
                        th:if="${person.id != -1}"
                        th:text="${person.username}">

                </option>

            </select>
        </div>


        <button type="submit" class="btn btn-primary" onclick="sendEmail()">
            <h7 th:text="#{save}"></h7>
        </button>


        <a th:href="@{/issues}" class="btn btn-secondary">
            <h7 th:text="#{cancel}"></h7>
        </a>

        <div id="confirmationMessage" class="confirmation-message"
             th:if="*{assignee != 'Nieprzydzielony'}"
             th:text="#{email.sent}"></div>


</form>

</div>
<script th:inline="javascript">
    function sendEmail() {
        var assigneeSelect = document.getElementById("assignee");
        var selectedOption = assigneeSelect.options[assigneeSelect.selectedIndex];
        var selectedValue = selectedOption.textContent;

        if (selectedValue !== "Nieprzydzielony") {
            var confirmationMessage = document.getElementById("confirmationMessage");
            var emailSentTranslation = /*[[#{email.sent}]]*/ '';
            confirmationMessage.innerText = emailSentTranslation + selectedValue;
            confirmationMessage.style.display = 'block';

            setTimeout(function () {
                confirmationMessage.style.display = 'none';
            }, 7000);
        }
    }
</script>




</body>
